.primary-nav {
    background-color: #FFa500;
}

#Rimg {
    height: 46px;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F09E71;
}



#ImgListNav {
    float: right;
}


body {
    margin-left: 50%;
}

section {

    max-width: 720px;
    background-color: rgb(255, 3, 3);
    margin: 50%;
}

body {
    border-left: 1000px;
}

#main {
    background-color: #dbe5b8;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

#main {
    background-image: url(img/GtaBack3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color:#FFFF;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#tblock {
    background-color: rgba(220, 220, 220, 0.8)
}

main {

    margin-left: 100px;
    color: blue;
}


#pdiv {
    text-align: center;

    margin-left: 150px;

    margin-right: 150px;
}

#pspan {
    background-color: rgba(220, 220, 220, 0.8);

}

h1 {

    margin-left: 510px;

}