.primary-nav {
    background-color: #FFa500 ;
  }
  #Rimg {
    height: 46px;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F09E71;
}

.BackgroundCss {
    background-image: url("img/GtaBack.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}
#daddyBox{
    width:70%;
    margin-left: 15%;
    margin-right:15%;
    background-color: grey;
    opacity:0.8;

}